.nav-div {
  /* border: 2px solid orange; */
  width: max(50rem, 100vw);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.logo {
  filter: invert(100%) sepia(23%) saturate(23%) hue-rotate(191deg)
    brightness(111%) contrast(92%);
  width: 5rem;
}

.pages {
  display: flex;
}

.page {
  margin: 0 1rem 0 1rem;
}

.cart-div {
  /* border: 2px solid yellow; */
  width: 5rem;
  display: flex;
  align-items: center;
}

.cart {
  filter: invert(100%) sepia(23%) saturate(23%) hue-rotate(191deg)
    brightness(111%) contrast(92%);
  width: 3rem;
}

.link {
  /* border: 2px solid orange; */
  text-decoration: none;
  color: whitesmoke;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.active-link {
  /* border: 2px solid orange; */
  text-decoration: none;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 2rem;
  color: whitesmoke;
  background: yellowgreen;
}
