input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card {
  border-bottom: 2px solid grey;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0 2rem 0 2rem;
}

.card:nth-last-child(1) {
  border: none;
}

.form {
  /* border: 2px solid orange; */
  min-width: fit-content;
  display: flex;
}

.form > input {
  width: 2rem;
}

.form > button {
  height: 1.5rem;
  font-size: 1rem;
}
