.navDiv {
  /* border: 2px solid orange; */
  width: max(50rem, 100vw);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.logo {
  filter: invert(100%) sepia(23%) saturate(23%) hue-rotate(191deg)
    brightness(111%) contrast(92%);
  width: 5rem;
}

.pages {
  display: flex;
}

.page {
  margin: 0 1rem 0 1rem;
}
